:root {
    /* Dark Mode */
    --text-primary-dark: #fff;
    --text-secondary-dark: rgba(255, 255, 255, 0.7);
    --text-disabled-dark: rgba(255, 255, 255, 0.5);
    --action-active-dark: #fff;
    --action-hover-dark: rgba(255, 255, 255, 0.08);
    --action-selected-dark: rgba(255, 255, 255, 0.16);
    --action-disabled-dark: rgba(255, 255, 255, 0.3);
    --action-disabledBackground-dark: rgba(255, 255, 255, 0.12);
    --background-default-dark: #303030;
    --background-paper-dark: #424242;
    --divider-dark: rgba(255, 255, 255, 0.12);
    /* Light Mode */
    --text-primary-light: rgba(0, 0, 0, 0.87);
    --text-secondary-light: rgba(0, 0, 0, 0.54);
    --text-disabled-light: rgba(0, 0, 0, 0.38);
    --action-active-light: rgba(0, 0, 0, 0.54);
    --action-hover-light: rgba(0, 0, 0, 0.04);
    --action-selected-light: rgba(0, 0, 0, 0.08);
    --action-disabled-light: rgba(0, 0, 0, 0.26);
    --action-disabledBackground-light: rgba(0, 0, 0, 0.12);
    --background-default-light: #fafafa;
    --background-paper-light: #fff;
    --divider-light: rgba(0, 0, 0, 0.12);
}

body {
    background-color: var(--background-default-light);
    color: var(--text-primary-light);
}

body.dark {
    background-color: var(--background-default-dark);
    color: var(--text-primary-dark);
}

.container {
    max-width: 80%;
    max-width: 1400px;
}

.header {
    margin-top: 10px !important;
}

.header, hr {
    margin-top: 0;
    margin-bottom: 5%;
}

.title {
    margin-bottom: 10%;
}

a.link {
    text-decoration: none;
    text-align: right;
    vertical-align: middle;
}

a.link:hover {
    color: #f1fa8c;    
}

a.hyperlink {
    text-decoration: none;
    font-weight: bold;
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

.icon {
    font-size: 10ch;
}

.icon>i:hover {
    transform: scale(1.2);
}

.icon>i:active {
    transform: scale(0.8);
}

.icon-group {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 100px;
}

.projects > .row {
    margin-bottom: 100px;
}

.description {
    text-align:justify;
    text-justify: inter-word;
}

.print-img { 
    display:inline-block;
    text-align:center;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
    text-align: center;
}


@media (min-width: 750px) {
    .me {
        max-width: 50%;
    }
}


/*  --------------------------- COLORS ------------------------------------- */

/* light */

body a.link {
    color: var(--action-active-light);
}

body a.hyperlink {
    color: var(--action-active-light);
}

body .icon {
    color: var(--action-active-light);
}

body .icon:hover {
    color: var(--action-hover-light);    
}

/* dark */

body.dark a.link {
    color: var(--action-active-dark);
}

body.dark a.hyperlink {
    color: var(--action-active-dark);
}

body.dark .icon {
    color: var(--action-active-dark);
}

body.dark .icon:hover {
    color: var(--action-hover-dark);    
}